body {
    background-color: #777;
    font-family: Arial, Helvetica Neue, Helvetica, sams-serif; 
    font-size: 16px;
    width: 960px;
    text-align: center;
    margin: auto;
}
header {
    background-color: #ebebeb;
    margin-top: 5px;
    padding: 25px;
}
nav {
    background-color: #ebebeb;
    margin-top: 5px;
    padding: 25px;
}
section {
    background-color: #ebebeb;
    width: 495px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 25px 5px;
    float: left;
}
article {
    background-color: #777;
    margin-top: 15px;
    padding: 15px;
    color: white;
}
aside {
    background-color: #ebebeb;
    width: 390px;
    margin-top: 15px;
    float: right;
    padding: 25px;
    height: 185px;
}
footer {
    clear: both;
    background-color: #ebebeb;
    padding: 25px;
}
p  {
    background-color: #ebebeb;
    margin-top: 5px;
    padding: 15px; 
    color: black;
}
h1 {
    background-color: #ebebeb;
    margin-top: 10px;
    padding: 15px; 
    color: black;
}